body {
    background-image: url("../images/circles-light.png");
    margin: 0;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    width: 250px;
    overflow: auto;
    margin-left: 200px;
    margin-bottom: 0;
    margin-top: 0;
}

.links {
    position: relative;
    float: right;
    top: -50px;
    color: #777777;
    overflow: auto;
    width: 175px;
    margin-right: 275px;
}

#nav1 {
    position: relative;
    float: left;
    border-right: 1px solid #777777;
    padding-right: 5px;
    margin-right: 5px;
}

#nav2 {
    position: relative;
    float: left;
    border-right: 1px solid #777777;
    padding-right: 5px;
    margin-right: 5px;
}

#nav3 {
    position: relative;
    float: left;
}

a {
    color: #777777;
    text-decoration: none;
}
.content {
    clear: both;
    width: 960px;
    margin: 0px 200px 20px 200px;
    background-color: #ffffff;
    overflow: auto;
    padding: 20px;
    height: 100%;
}

h2 {
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
    padding-left: 0px;
    padding-bottom: 20px;
    margin-top: 0;
}
#profile {
    height: 200px;
    float: left;
}

p {
    color: #777777;
}

.project_images {
    width: 270px;
    height: 200px;
    margin: 20px;
}

#Hangman {
    float: left;
}

#Trivia {
    clear: both;
    float: left;
}

#Rock {
    clear: both;
}

footer {
    clear: both;
    text-align: center;
    background-color: #666666;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px;
    border-top: 5px solid #4aaaa5;
    color: #777777;
}
