header {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
    margin: 0px 200px 20px 200px;
}

h1 {
    background-color: #4aaaa5;
    color: white;
    padding: 20px;
    width: 250px;
    overflow: auto;
}

.links {
    position: relative;
    float: right;
    color: #777777;
    overflow: auto;
    width: 200px;
}

#nav1 {
    position: relative;
    float: left;
    border-right: 2px solid #777777;
    padding-right: 5px;
    margin-right: 5px;
}

#nav2 {
    position: relative;
    float: left;
    border-right: 2px solid #777777;
    padding-right: 5px;
    margin-right: 5px;
}

#nav3 {
    position: relative;
    float: left;
}
.content {
    clear: both;
}
p {
    color: #777777;
}

